<div class="container-fluid center">
  <form #AddTaskForm="ngForm" (ngSubmit)="onSubmit(AddTaskForm.valid,AddTaskForm.value )">
    <div class="form-group row">
      <label class="col-2 col-form-label">Task Name</label>
      <div class="col-4">
        <input class="form-control" type="text" name="SubTaskName" id="SubTaskName" #SubTaskName="ngModel"
          [(ngModel)]="TaskModel.SubTaskName" [value]="TaskModel.TaskName" tabindex="1">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Description</label>
      <div class="col-4">
        <input class="form-control" type="text" name="Description" id="Description" #Description="ngModel"
          [(ngModel)]="TaskModel.Description" [value]="TaskModel.Description" tabindex="2">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Start Date Time</label>
      <div class="col-4">
        <input class="form-control" type="datetime-local" name="StartDateTime" id="StartDateTime"
          #StartDateTime="ngModel" [(ngModel)]="TaskModel.StartDateTime" [value]="TaskModel.StartDateTime"
          tabindex="3">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Status</label>
      <div class="col-4">
        <input class="form-control" type="text" name="Status" id="Status" #Status="ngModel"
          [(ngModel)]="TaskModel.Status" [value]="TaskModel.Status" tabindex="4">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">User Name</label>
      <div class="col-4">
        <input readonly class="form-control" type="text" [value]="TaskModel.userName">
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-info">Save Subtask</button>
    </div>
  </form>
</div>