<div class="container-fluid center">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <form #ForgotForm="ngForm" (ngSubmit)="onSubmit(ForgotForm.valid,ForgotForm.value )">
        <div>
          <div class="form-group">
            <input type="email" name="email" id="email" #email="ngModel" [(ngModel)]="emailModel.email"
              class="form-control input-lg" placeholder="Enter UserName">
            <span class="alert" ng-show="email.errors || email.touched"><br>
              <p class="alert alert-danger" role="alert"
                *ngIf="email.errors?.required && (email.touched || email.value==null)">
                Enter Email Id</p>
            </span>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-info" (click)="verifyUser()">Verify UserName</button>
          </div>
        </div>
        <div *ngIf="verifiedUser">

          <div class="form-group">
            <input type="password" name="password" id="password" #password="ngModel" [(ngModel)]="emailModel.password"
              class="form-control input-lg" placeholder="Password" tabindex="7">
            <span class="alert" ng-show="password.errors || password.touched"><br>
              <p class="alert alert-danger" role="alert"
                *ngIf="password.errors?.required && (password.touched || ForgotForm.submitted)">
                Enter Email Id</p>
            </span>
          </div>
          <div class="form-group">
            <input type="password" name="password_confirmation" id="password_confirmation" #confirmPassword="ngModel"
              [(ngModel)]="confirm_Password" class="form-control input-lg" placeholder="Confirm Password" tabindex="8">

            <span class="alert" ng-show="password.errors || password.touched"><br>
              <p class="alert alert-danger" role="alert"
                *ngIf="confirmPassword.errors?.required && (confirmPassword.touched || ForgotForm.submitted)">
                Enter Email Id</p>
            </span>
            <span class="alert">
              <p class="alert alert-danger" role="alert"
                *ngIf="confirmPassword.value!==password.value && confirmPassword.value!=null && password.value!=null ">
                Password did not match</p>
            </span>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-info btn-lg btn-block">Update Password</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>