<div style="text-align:center" class="container-fluid">


  <form>

    <div class="row mt-2 ">
      <div class="col-md-12" style="text-align:right">
        <nav class="navbar navbar-light ">
          <a [routerLink]="['/addSubTask',taskId]">
            <button type="button" class="btn btn-info float-right">
              <i class="fa fa-plus" aria-hidden="true">
                Add New Subtask
              </i>
            </button>
          </a>
        </nav>
      </div>
    </div>

    <div class="row mt-2 ">
      <div class="col-md-12">
        <table class="table">
          <tr class="thead-light">
            <th>Name</th>
            <th>Description</th>
            <th>StartDateTime</th>
            <th>Status</th>
            <th>Action</th>
          </tr>

          <tbody *ngIf="list?.length > 0">
            <tr *ngFor="let ls of list">
              <td> {{ls.SubTaskName ? ls.SubTaskName['@nil'] ? '-' : ls.SubTaskName : '-'}}</td>
              <td> {{ls.Description ? ls.Description['@nil'] ? '-' : ls.Description : '-'}}</td>
              <td> {{ls.StartDateTime ? ls.StartDateTime['@nil'] ? '-' : ls.StartDateTime : '-'}}</td>
              <td> {{ls.Status ? ls.Status['@nil'] ? '-' : ls.Status : '-'}}</td>
              <td> <i class="fa fa-trash" aria-hidden="true" style="font-size:24px; color:red"
                  (click)="removeData(ls.Id)"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                <a [routerLink]="['/editSubTask'+'/'+taskId,ls.Id]">
                  <i class="fa fa-pencil" aria-hidden="true" style="font-size:24px; color:green"></i>
                </a>
                
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>

    <div style="text-align:right">

    </div>
  </form>
</div>